@{
    ViewBag.Title = "PageTransaction";

}

<h2>PageTransaction</h2>
<ul id="rb-grid" class="rb-grid clearfix">
 
    <li class="icon-clima-1 rb-span-2">
 
        <h3>Lisbon</h3>
        <span class="rb-temp">21°C</span>
 
        <div class="rb-overlay">
            <span class="rb-close">close</span>
            <div class="rb-week">
                <div><span class="rb-city">Lisbon</span><span class="icon-clima-1"></span><span>21°C</span></div>
                <div><span>Mon</span><span class="icon-clima-1"></span><span>19°C</span></div>
                <div><span>Tue</span><span class="icon-clima-2"></span><span>19°C</span></div>
                <div><span>Wed</span><span class="icon-clima-2"></span><span>18°C</span></div>
                <div><span>Thu</span><span class="icon-clima-2"></span><span>17°C</span></div>
                <div><span>Fri</span><span class="icon-clima-1"></span><span>19°C</span></div>
                <div><span>Sat</span><span class="icon-clima-1"></span><span>22°C</span></div>
                <div><span>Sun</span><span class="icon-clima-1"></span><span>18°C</span></div>
            </div>
        </div>
         
    </li>
 
    <li class="icon-clima-2">
        <h3>Paris</h3><span class="rb-temp">11°C</span>
        <div class="rb-overlay">
               <span class="rb-close">close</span>
            <div class="rb-week">
                <div><span class="rb-city">Lisbon</span><span class="icon-clima-1"></span><span>21°C</span></div>
                <div><span>Mon</span><span class="icon-clima-1"></span><span>99°C</span></div>
                <div><span>Tue</span><span class="icon-clima-2"></span><span>19°C</span></div>
                <div><span>Wed</span><span class="icon-clima-2"></span><span>18°C</span></div>
                <div><span>Thu</span><span class="icon-clima-2"></span><span>17°C</span></div>
                <div><span>Fri</span><span class="icon-clima-1"></span><span>19°C</span></div>
                <div><span>Sat</span><span class="icon-clima-1"></span><span>22°C</span></div>
                <div><span>Sun</span><span class="icon-clima-1"></span><span>18°C</span></div>
            </div>
        </div>
    </li>
 
    <li class="icon-clima-3 rb-span-4">
        <h3>Beijing</h3><span class="rb-temp">11°C</span>
        <div class="rb-overlay">
               <span class="rb-close">close</span>
            <div class="rb-week">
                <div><span class="rb-city">Lisbon</span><span class="icon-clima-1"></span><span>21°C</span></div>
                <div><span>Mon</span><span class="icon-clima-1"></span><span>99°C</span></div>
                <div><span>Tue</span><span class="icon-clima-2"></span><span>19°C</span></div>
                <div><span>Wed</span><span class="icon-clima-2"></span><span>18°C</span></div>
                <div><span>Thu</span><span class="icon-clima-2"></span><span>17°C</span></div>
                <div><span>Fri</span><span class="icon-clima-1"></span><span>19°C</span></div>
                <div><span>Sat</span><span class="icon-clima-1"></span><span>22°C</span></div>
                <div><span>Sun</span><span class="icon-clima-1"></span><span>18°C</span></div>
            </div>
        </div>
    </li>
 
        <li class="icon-clima-4">
        <h3>Wuhan</h3><span class="rb-temp">11°C</span>
        <div class="rb-overlay">
               <span class="rb-close">close</span>
            <div class="rb-week">
                <div><span class="rb-city">Lisbon</span><span class="icon-clima-1"></span><span>21°C</span></div>
                <div><span>Mon</span><span class="icon-clima-1"></span><span>99°C</span></div>
                <div><span>Tue</span><span class="icon-clima-2"></span><span>19°C</span></div>
                <div><span>Wed</span><span class="icon-clima-2"></span><span>18°C</span></div>
                <div><span>Thu</span><span class="icon-clima-2"></span><span>17°C</span></div>
                <div><span>Fri</span><span class="icon-clima-1"></span><span>19°C</span></div>
                <div><span>Sat</span><span class="icon-clima-1"></span><span>22°C</span></div>
                <div><span>Sun</span><span class="icon-clima-1"></span><span>18°C</span></div>
                <input id="Radio1" type="radio" /><input id="File1" type="file" />
            </div>
        </div>
    </li>
</ul>

@section Scripts {
    @Scripts.Render("~/bundles/boxgrid")

    <script>
       $(function () {
           Boxgrid.init();
        });
    </script>
}<a href="~/Models/">~/Models/</a>